<!DOCTYPE html>
<html>
<head>
  <title>FindPeopleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  "http://cache.amap.com/lbs/static/main1119.css" %>
  <%= javascript_include_tag "http://cache.amap.com/lbs/static/es5.min.js" %>
  <%= javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=f2c1178ddca72e990d5f17edcad40f8b" %>
  <%= javascript_include_tag "http://cache.amap.com/lbs/static/addToolbar.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
